.post-paragraph{
    height: 168px;
    /*width: 230px;*/
    color: black;
    font-size: 14px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: inline-block;*/

}

.post-title{
    overflow: hidden;
    text-overflow: ellipsis;
    height:50px;
}


.Post-meta-data{
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-count{
    float: left;
}

.dislike-count{
    float: right;
}


@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .post-paragraph{
        height: 168px;
    }
}