.song-thumbnail{
    height: 168px;
    width: 230px;
}

.thumbnail-img{
    height: 168px;
    width: 230px;
    object-fit:cover;
}

.song-title{
    overflow: hidden;
    text-overflow: ellipsis;
    height:50px;
}

.song-card{
    height: 355px;
}


.Song-data{
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-meta-attribute{
    padding-right: 18px;
}

.like-count{
    float: left;
}

.dislike-count{
    float: right;
}


@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .thumbnail-img{
        width: 300px;
        height: 236px;
        object-fit:cover;
    }

    .song-thumbnail{
        width: 288px;
        height: 236px;
    }
    .song-card{
        height: 420px;
    }
    .song-meta-attribute{
        padding-right: 35px;
    }
}