.writer-card{
    height: 355px;
}

.user-thumbnail{
    height: 168px;
    width: 230px;
}

.user-thumbnail-img{
    height: 168px;
    width: 230px;
    object-fit:cover;
}

.user-meta-attribute{
    padding-right: 18px;
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .user-thumbnail{
        width: 288px;
        height: 236px;
    }

    .user-thumbnail-img{
        width: 300px;
        height: 236px;
        object-fit:cover;
    }
    .writer-card{
        height: 420px;
    }
    .user-meta-attribute{
        padding-right: 35px;
    }
}